[
  {
    "relation": ["delegate_permission/common.handle_all_urls"],
    "target": {
      "namespace": "android_app",
      "package_name": "com.ragham.app",
      "sha256_cert_fingerprints": [
        "REPLACE_WITH_THE_SHA256_FINGERPRINT_GENERATED_BY_PWABUILDER"
      ]
    }
  }
]
